# Tests this action success by the application already being installed on an organisation

name: Test Success - organisation - installed

on:
  # pull_request:
  #   branches:
  #     - main
  workflow_dispatch:
    inputs:
      branch:
        description: The name of the branch to checkout for the action
        required: true
        default: main

# One build per branch, cancel out of date builds only on pull requests
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test-installed-org:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout specified branch
        if: github.event_name == 'workflow_dispatch'
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Checkout
        if: github.event_name != 'workflow_dispatch'
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Use action
        id: use_action
        uses: ./
        with:
          application_id: ${{ secrets.GHA_APPLICATION_ID }}
          application_private_key: ${{ secrets.GHA_APPLICATION_PRIVATE_KEY }}
          organization: CattleDip

      - name: Use token to read details
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7 #TODO: Update to v6
        with:
          github-token: ${{ steps.use_action.outputs.token }}
          script: |
            const repo = await github.repos.get({owner: 'CattleDip', repo: 'demo-gha-install-token'});
            console.log(JSON.stringify(repo, null, 2));

      - name: Use token to checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          token: ${{ steps.use_action.outputs.token }}
          repository: CattleDip/demo-gha-install-token
